In [125]:
name = "Intro to python"

In [126]:
name[6:8]

'to'

In [127]:
name[20:50]

''

In [128]:
t1 = "Itro" , "KU" , 80

In [129]:
type (t1)

tuple

In [130]:
t1[1]

'KU'

In [131]:
t2 = 'Expert',100 ,t1

In [132]:
t2

('Expert', 100, ('Itro', 'KU', 80))

In [133]:
t2[2][1][0]

'K'

In [134]:
t1 = 'Intro', 'Ku' , 81

In [135]:
t1

('Intro', 'Ku', 81)

In [136]:
t2

('Expert', 100, ('Itro', 'KU', 80))

In [137]:
t1 = 'Intro', 'Ku' , 81
t2 = 'Expert', 100 , 'Hello'

In [138]:
(t1 + t2)[5]

'Hello'

In [139]:
x,y,z = t1

In [140]:
t1

('Intro', 'Ku', 81)

In [141]:
list1 = ['Intro', 'KU', 81]

In [142]:
list1

['Intro', 'KU', 81]

In [143]:
L1 = [10,30,50]

In [144]:
L1.append(60)

In [145]:
L1

[10, 30, 50, 60]

In [146]:
x = [8,9]

In [147]:
L1.append(x)

In [148]:
L1

[10, 30, 50, 60, [8, 9]]

In [149]:
L1.pop()

[8, 9]

In [150]:
L1

[10, 30, 50, 60]

In [151]:
L1.extend(x)

In [152]:
L1

[10, 30, 50, 60, 8, 9]

In [153]:
L1.insert(2,40)

In [154]:
L1

[10, 30, 40, 50, 60, 8, 9]

In [155]:
L1.sort()

In [156]:
L1

[8, 9, 10, 30, 40, 50, 60]

In [157]:
L1.reverse()

In [158]:
L1

[60, 50, 40, 30, 10, 9, 8]

In [159]:
for e in L1 : 
  print(e)

60
50
40
30
10
9
8

# Set

In [160]:
s1 = set('kasetsart')
s2 = set('university')

In [161]:
s1

{'a', 'e', 'k', 'r', 's', 't'}

In [162]:
s2

{'e', 'i', 'n', 'r', 's', 't', 'u', 'v', 'y'}

In [163]:
s1 & s2

{'e', 'r', 's', 't'}

In [164]:
s1 | s2

{'a', 'e', 'i', 'k', 'n', 'r', 's', 't', 'u', 'v', 'y'}

In [165]:
s1 -s2

{'a', 'k'}

In [166]:
s1 ^ s2

{'a', 'i', 'k', 'n', 'u', 'v', 'y'}

# Dictionaries

In [167]:
d1 = {'a':100 , 'b':[200 ,300, 'Hello'], 90:'end'}

In [168]:
d1

{'a': 100, 'b': [200, 300, 'Hello'], 90: 'end'}

In [169]:
d1['a']

100

In [170]:
d1.values()

dict_values([100, [200, 300, 'Hello'], 'end'])

In [171]:
d1.keys()

dict_keys(['a', 'b', 90])

In [172]:
d1['c'] = 500

In [173]:
d1

{'a': 100, 'b': [200, 300, 'Hello'], 90: 'end', 'c': 500}

In [174]:
d1['1'] = 20

In [175]:
d1

{'a': 100, 'b': [200, 300, 'Hello'], 90: 'end', 'c': 500, '1': 20}

In [176]:
del d1['c']

In [177]:
d1

{'a': 100, 'b': [200, 300, 'Hello'], 90: 'end', '1': 20}

In [178]:
d1 = {'a':100 , 'b':[200 ,300, 'Hello'], 90:'end'}

In [179]:
d2 = dict([('a',100),('b',[200,300,'Hello']),(90,'end')])

In [180]:
d1

{'a': 100, 'b': [200, 300, 'Hello'], 90: 'end'}

In [181]:
d1['b'][2][0]

'H'

In [182]:
players = open('tennis_players','w')

In [183]:
players.write("Nice\n")
players.write("Nzrix\n")

6

In [184]:
players.close()

In [185]:
n = open('tennis_players','r')

In [186]:
st = n.read()

In [187]:
print(st)

Nice
Nzrix