In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
df = pd.read_csv('customer.csv')

In [26]:
df.head()

   gender  age  salary  purchased
0    Male   19   19000          0
1    Male   35   20000          0
2  Female   26   43000          0
3  Female   27   57000          0
4    Male   19   76000          0

In [27]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [28]:
att = df[['age' ,'salary']]
label = df['purchased']

att_train , att_test , class_train , class_test = train_test_split(att, label,
                                                                   random_state=0,train_size=0.7)

scaler = StandardScaler()
scaler.fit(att_train)
att_train[['age' ,'salary']] = scaler.transform(att_train)

model = KNeighborsClassifier(n_neighbors=3)
model.fit(att_train, class_train)

model.score( scaler.transform(att_test), class_test)
# model.score( att_train, class_train)

c:\Users\pawar\Desktop\Code\DS\.venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

0.9083333333333333

In [29]:
resule = pd.concat([att_test, class_test],axis=1)
resule['predict'] = model.predict(scaler.transform(att_test))
resule

c:\Users\pawar\Desktop\Code\DS\.venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

     age  salary  purchased  predict
132   30   87000          0        0
309   38   50000          0        0
341   35   75000          0        0
196   30   79000          0        0
246   35   50000          0        0
..   ...     ...        ...      ...
216   49   65000          0        0
259   45  131000          1        1
49    31   89000          0        0
238   46   82000          0        1
343   47   51000          1        0

[120 rows x 4 columns]