In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\pawar\AppData\Local\Temp\ipykernel_18096\265554930.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv('shirt_size.csv')

In [4]:
df.head()

   Height_cms  Weight_kgs T_Shirt_Size
0         158          58            M
1         158          59            M
2         160          64            L
3         163          64            L
4         165          61            L

In [7]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [26]:
att = df[['Height_cms' ,'Weight_kgs']]
label = df['T_Shirt_Size']

att_train , att_test , class_train , class_test = train_test_split(att, label,
                                                                   random_state=0,train_size=0.7)

scaler = StandardScaler()
scaler.fit(att_train)

att_train[['Height_cms' ,'Weight_kgs']] = scaler.transform(att_train)

model = KNeighborsClassifier(n_neighbors=3)
model.fit(att_train, class_train)

model.score( scaler.transform(att_test), class_test)

c:\Users\pawar\Desktop\Code\DS\.venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

1.0

In [27]:
resule = pd.concat([att_test, class_test],axis=1)
resule['predict'] = model.predict(scaler.transform(att_test))
resule

c:\Users\pawar\Desktop\Code\DS\.venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

    Height_cms  Weight_kgs T_Shirt_Size predict
1          158          59            M       M
6          160          59            M       M
8          165          65            L       L
10         163          60            M       M
14         170          63            L       L
4          165          61            L       L

In [22]:
model.predict(att_train)

array(['L', 'L', 'L', 'M', 'L', 'L', 'L', 'L', 'M', 'L', 'M', 'L'],
      dtype=object)

In [23]:
pd.concat([att_train, class_train],axis=1)

    Height_cms  Weight_kgs T_Shirt_Size
2    -0.978780    0.427900            L
16    1.324232    0.427900            L
17    1.324232    2.007839            L
9    -0.978780   -1.152039            M
7     0.172726   -0.362069            L
13    0.863630    1.217870            L
11    0.863630   -0.362069            L
3    -0.287877    0.427900            L
0    -1.439383   -1.942009            M
5    -1.439383    0.032915            M
15   -0.287877   -0.757054            M
12    0.863630    0.032915            L